@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
	margin: 0px;
	padding: 0px;
}
:root {
	--cor-fundo1: #000;
	--cor-fundo2: #222634;
	--cor-verde: #009748;
	--cor-texto: #fff;
	--nome-fonte: 'inter';
}
header {
	background-color: var(--cor-fundo1);
	text-align: center;
	padding: 20px;
}
#inicio {
	background-color: var(--cor-fundo1);
	height: 700px;
}
.container {
	background-image: url('../Imagens/foto.png');
	background-repeat: no-repeat;
	width: 1440px;
	height: 700px;
	margin: 0 auto;
}
.lateral_esquerda {
	background-color: transparent;
	width: 720px;
	height: 700px;
	padding: 68px;
}
.titulo {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	padding: 32px;
	color: #FFFFFF;
}

.link {
   width: 512px;
   height: 56px;
   border-radius: 8px;
   font-size: 1rem;
   color: white;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   font-weight: 400;
}

.botao1 {
   background-color: var(--cor-verde);
   margin-top: 46px;
   margin-bottom: 16px;
}

.botao2 {
   border: 1px solid white;
   margin-bottom: 10px;
}
.texto1 {
   font-size: 12px;
   color: #C0C0C0;
   text-align: center;
}
#segundo {
	background-color: var(--cor-fundo2);
	height: 900px;
	display: flex;
}
.container2 {
	background-color: transparent;
	margin: 0 auto;	
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lateral_direita {
  	background-color: transparent;

	padding: 68px;
}
.titulo2 {
  	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	padding: 32px;
	color: #FFFFFF;
	margin-top: 100px;
}
.texto2 {
   font-size: 16px;
   color: #C0C0C0;
}
.img {
	float: left;
}
.container3 {
	width: 1200px;
}
.sec3 {
	background-color: #000;
   width: 100%;
   height: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.terceiraSec {
   display: flex;
   justify-content: center;
   align-items: center;
}
.botõesSec1 {
	margin: 0 auto;
	display: flex;
	width: 512px;
	height: 56px;
	left: 165px;
	top: 2231px;
	background: #009748;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
}
.contentSec3 {
   width: 573px;
   margin-right: 60px;
}

.textoSec3 {
   color: rgba(249, 249, 249, 0.8);
   text-align: center;
   font-family: 'inter';
   color: #fff;
}

.sec4 {
   background-color: #222634;
   width: 100%;
   height: 900px;
   display: flex;
   justify-content: center;
}

.quartaSec {
   display: flex;
   justify-content: center;
   align-items: center;
}

.contentSec4 {
   width: 627.2px;
   height: 114px;
   margin-left: 37.27px;
}

.imgSec4 {
   width: 611.2px;
   height: 343.6px;
}

.tituloSec4 {
   font-size: 48px;
   font-weight: 700;
   font-family: 'inter';
   color: #fff;
}

.textoSec4 {
   margin-top: 8px;
   font-size: 16px;
   color: rgba(249, 249, 249, 0.8);
   font-weight: 400;
   font-family: 'inter';
}

.sec5 {
	background-color: #000;
   width: 100%;
   height: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-weight: 700;
}

.quintaSec {
   display: grid;
   grid-template-rows: 100px 300px;
}

.contentSec5 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 90px;
   font-size: 32px;
   color: #fff;
   font-family: 'inter';
}

.titleSec5 {
   font-size: 48px;
   color: #fff;
   font-family: 'inter';
}

.sec6 {
   width: 100%;
   height: 592px;
   background-color: #222634;
   display: flex;
   justify-content: center;
   align-items: center;
}

.titleSec6 {
   font-size: 32px;
   font-weight: 700;
   text-align: center;
   margin-bottom: 33px;
   font-family: 'inter';
   color: #C0C0C0;
}

form {
   width: 505px;
   height: 317px;
}

.inp6 {
   background-color: #009748;
   margin-top: 24px;
   width: 512px;
   height: 56px;
   color: #C0C0C0;
}

.textInpSec6 {
   width: 505px;
   height: 56px;
   border-radius: 16px;
   text-align: center;
   font-size: 18px;
   background-color: #2E3447;
   border: 1px solid white;
   margin-bottom: 19px;
   color: white;
   font-family: 'inter';
}

.textarea {
   width: 505px;
   height: 165px;
   border-radius: 16px;
   text-align: center;
   font-size: 18px;
   background-color: #2E3447;
   border: 1px solid white;
   padding-top: 17px;
   color: white;
   font-family: 'inter';
}

.textarea::placeholder {
   font-family: 'Inter';
}

footer {
   width: 100%;
   height: 260px;
   background-color: #222634;
   padding-top: 114px;
   text-align: center;
}

a {
   text-decoration: none;
   color: white;
   padding: 0px 10px;
   font-family: 'inter';
}

.logoFooter {
   margin-bottom: 48.5px;
}

.linksFooter {
   margin-bottom: 24px;
}

.texto1Footer {
   font-size: 14px;
   color: #C0C0C0;
   margin-bottom: 22px;
   font-family: 'inter';
}

.texto2Footer {
   font-size: 14px;
   color: #C0C0C0;
   margin-bottom: 22px;
   font-family: 'inter';
}